.layer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  height: 120px;
  padding-top: 20px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  background-color: var(--layer-color);
  text-align: center;
}

.layer:hover {
  filter: brightness(1.05);
}

.layer:active {
  filter: brightness(0.95);
  transform: scale(1.05);
}

.layer::after {
  content: attr(data-desc);
  position: absolute;
  transform: translateY(120%);
  font-size: calc(var(--font-size) / 1.5);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.layer:hover::after {
  opacity: 1;
}
