.container {
  position: relative;
  width: 100%;
  text-align: center;
}

.pyramid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 60px;
}

.content.table-mode {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.content.table-mode .pyramid {
  width: 50%;
}
