.toolbox {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1000;
  min-width: 300px;
}

.toolbox-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.toolbox-title {
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.toolbox-close-button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.input-container label {
  color: white;
  margin-right: 10px;
  font-size: 12px;
}

.input-container input[type="text"],
.input-container input[type="number"] {
  flex: 1;
  padding: 5px;
  font-size: 12px;
  box-sizing: border-box;
}

.radio-container {
  display: flex;
  align-items: center;
}

.radio-container label {
  color: white;
  font-size: 12px;
  margin-right: 10px;
}

.radio-options {
  display: flex;
  align-items: center;
}

.radio-options label {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.radio-options input {
  margin-right: 5px;
}
