.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.button.primary {
  background-color: #007bff;
  color: white;
}

.button.primary:hover {
  background-color: #0056b3;
}

.button.primary:active {
  background-color: #004085;
  transform: scale(0.95);
}

.button.default {
  background-color: #6c757d;
  color: white;
}

.button.default:hover {
  background-color: #5a6268;
}

.button.default:active {
  background-color: #343a40;
  transform: scale(0.95);
}

.button.disabled {
  background-color: #d6d8db;
  color: #adb5bd;
  cursor: not-allowed;
}
