.switch-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: 10px;
}

.switch-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 14px;
  transition: background-color 0.3s, transform 0.3s;
  display: flex;
  align-items: center;
  gap: 10px;
}

.switch-button.edit {
  background-color: #28a745;
}

.switch-button.viewer {
  background-color: #007bff;
}

.switch-button.table {
  background-color: #ff9800;
}

.switch-button.edit:hover {
  background-color: #218838;
}

.switch-button.viewer:hover {
  background-color: #0056b3;
}

.switch-button.table:hover {
  background-color: #e68900;
}

.switch-button:active {
  transform: scale(0.95);
}

.switch-icon {
  width: 20px;
  height: 20px;
}

.switch-close-button {
  background: none;
  border: none;
  color: gray;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
  transform: rotate(-180deg);
  position: absolute;
  top: -15px;
  right: -15px;
}

.switch-container:hover .switch-close-button {
  opacity: 1;
  transform: rotate(0deg);
}
