.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

h2 {
  margin-top: 0;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.form-group label {
  flex: 1;
  font-size: 14px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  flex: 2;
  padding: 8px;
  font-size: 14px;
}

.form-group textarea {
  min-height: 1.5em;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  gap: 15px;
}
