.tables-wrapper {
  width: 50%;
  transform: translateX(30%) translateY(50%);
}

.tables {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  text-align: left;
  background-color: #fff;
  transition: box-shadow 0.3s ease-in-out;
}

.tables:hover {
  box-shadow: 0 0 10px 2px rgba(0, 123, 255, 0.5);
}

.tables th,
.tables td {
  text-align: left;
  padding: 12px 15px;
  border: 1px solid #ddd;
  position: relative;
}

.tables thead {
  background-color: #f3f3f3;
  border-bottom: 2px solid #ddd;
}

.tables th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.tables tr:hover {
  background-color: #f5f5f5;
}

.edit-icon-container {
  display: none;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.tables th:hover .edit-icon-container {
  display: inline;
}

.edit-icon {
  width: 16px;
  aspect-ratio: 1/1;
  cursor: pointer;
}

code {
  background-color: #f5f5f5;
  color: #d63384;
  padding: 2px 4px;
  border-radius: 4px;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 0.95em;
}

ul,
ol {
  margin: 0;
  padding-left: 20px;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin: 0;
  padding-left: 20px;
}
